body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(235, 229, 229)
};

h1{
  color: orangered;
  background-color: black;
};

.car-container {
  display: flex;
  justify-content: center;
};

.car-container div {
  margin-top: 50px;
};